*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
    
}
body{
    background-image: url(/images/bg.jpg);
    background-size: 1800px;
}

.menu{

 
    display: flex;
    color:aliceblue;
    background-color: rgba(44, 42, 42, 0.789);
    font-size: 50px;
    margin-top: 10px;
    padding: 10px;
    justify-content: flex-end;
    flex: 100px;
    gap: 30px;

}

.b{
    color: aliceblue;
    border: none;
    font-size: 18px;
    background-color: rgba(44, 42, 42, 0.029);
    height: 60px;
    width:50px ;
    

     
}
.menu input:hover{
       transition: 0.8s;
       border: 1px whitesmoke;
       background-color: aliceblue;
       padding: 3px;
     
       border-radius: 2px;
       color: black;
       height: 30px;
       margin-top: 20px;
       
    }  

.menu :nth-child(1)   {
    flex-grow: 10;
} 
.menu :nth-child(2)   {
    flex-grow: 2;
}
.menu :nth-child(3)   {
    flex-grow: 2;
}  
.menu :nth-child(4)   {
    flex-grow: 2;
} 
.menu :nth-child(5)   {
    flex-grow: 2;
} 
.menu :nth-child(6)   {
    flex-grow: 2;
}
.content p{
    font-size: 40px;
}
   
.content{
    display: grid;
    height: 800px;
    place-items: center;
    margin-left: 50px;
    text-align: center;
}